#####################################
# Python
#####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

#####################################
# Virtual Environments
#####################################
venv/
env/
.venv/

#####################################
# Django
#####################################
*.sqlite3
media/
staticfiles/
local_settings.py

#####################################
# Environment Variables
#####################################
.env
.env.*

#####################################
# Node / Frontend
#####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

#####################################
# PyCharm / IDE
#####################################
.idea/
*.iml

#####################################
# OS Files
#####################################
.DS_Store
Thumbs.db

#####################################
# Logs
#####################################
*.log

#####################################
# Coverage / Tests
#####################################
htmlcov/
.coverage
.tox/
.pytest_cache/
``