# Node modules
node_modules/

# Env files
.env
.env.local

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python (backend)
venv/
__pycache__/
*.pyc

# IDE
.idea/

# Misc
*.log