* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
